* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    width: 960px;
    margin: auto;
    background-color: #FDF3E7;
}

.opacity-container {
    position: relative;
    overflow:hidden;
}

.opacity-container h1 {
    padding: 30px;
    position: relative;
    z-index: 2;
    font-family: "Josefin Sans";
    font-size: 80px
}

.opacity-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#nav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C053A;
    height: 40px;
}

#nav li {
    float: left;
    width: 33.3%;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #6614D3;
}

.active {
    background-color: #362749;
}

.grid {
    display: block;
    float: left;
    margin: 25px;
    border-radius: 25px;
    border: 3px solid #362749;
}

input{
    width: 200px;
    padding: 5px 10px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #362749;
    border-radius: 2px;
}

textarea {
    width: 200px;
    height: 100px;
    padding: 5px 10px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #362749;
    border-radius: 2px;
}

input[type=submit] {
    background-color: #1C053A;
    color: white;
}

input[type=submit]:hover {
    background-color: #362749;
}

label, h2, h3 {
    margin: 8px;
}