* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    width: 960px;
    margin: auto;
}

h1 {
    font-family: sans-serif;
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 54px auto 0;
}

header {
    background-image: url("../images/detroitskylineresized.jpg");
    background-repeat: no-repeat;    
    height: 190px;
    overflow: hidden;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C053A;
    height: 40px;
}

li {
    float: left;
    width: 33.3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6614D3;
}

.active {
    background-color: #362749;
}

.grid {
    padding: 0;
    margin: 10px;
}